/*!***********************************************************************************************************!*\
  !*** css ../node_modules/css-loader/dist/cjs.js!../node_modules/sass-loader/dist/cjs.js!./scss/main.scss ***!
  \***********************************************************************************************************/
@import url(https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700;800;900&display=swap);
/*!***************************************************************************************************************!*\
  !*** css ../node_modules/css-loader/dist/cjs.js!../node_modules/sass-loader/dist/cjs.js!./scss/main.scss (1) ***!
  \***************************************************************************************************************/
html {
  box-sizing: border-box;
  min-width: 320px; }

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

body {
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 1;
  position: relative;
  margin: 0;
  scroll-behavior: smooth;
  font-size: inherit;
  min-width: 320px;
  min-height: 100vh;
  background-color: var(--body-color);
  font-size: var(--root-size);
  font-family: 'Poppins', cursive; }

img {
  max-width: 100%; }

a {
  text-decoration: none;
  color: inherit; }

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0; }

[class*="__container"] {
  max-width: 1230px;
  margin: 0 auto;
  padding: 0 15px; }

@font-face {
  font-family: Roboto;
  font-display: swap;
  font-style: normal;
  font-weight: 100;
  src: url(../fonts/AmaticSC-Regular..woff2), url(../fonts/AmaticSC-Regular..woff); }

:root {
  --root-size: 18px;
  --size-1: 20px;
  --size-2: 12px;
  --size-3: 28px;
  --body-color: #0B0510;
  --main-color: #1F2B32;
  --color-1: #6990f2;
  --color-2: #323548;
  --color-3: #dcdbdb63;
  --background-1: #f2f2f2;
  --background-2: #2B343F;
  --background-3: #404954;
  --background-4: #f16e1e;
  --background-5: #c54f06;
  --background-6: #00000026;
  --background-7: #0000001a;
  --family-1: 'Poppins', cursive;
  --speed: 0.4s; }

/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0; }

/**
 * Render the `main` element consistently in IE.
 */
main {
  display: block; }

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/* Grouping content
   ========================================================================== */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */ }

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/* Text-level semantics
   ========================================================================== */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent; }

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  text-decoration: underline dotted;
  /* 2 */ }

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder; }

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sub {
  bottom: -0.25em; }

sup {
  top: -0.5em; }

/* Embedded content
   ========================================================================== */
/**
 * Remove the border on images inside links in IE 10.
 */
img {
  border-style: none; }

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */ }

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible; }

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none; }

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button; }

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0; }

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText; }

/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em; }

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */ }

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline; }

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto; }

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */ }

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */ }

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block; }

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item; }

/* Misc
   ========================================================================== */
/**
 * Add the correct display in IE 10+.
 */
template {
  display: none; }

/**
 * Add the correct display in IE 10.
 */
[hidden] {
  display: none; }

.container {
  width: 1030px;
  padding: 30px; }

.wrapper {
  padding: 5px;
  background-color: var(--background-1);
  border-radius: 5px; }

.upload {
  background-color: var(--background-1); }
  .upload__input {
    display: none; }
  .upload__label {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 400px;
    height: 220px;
    border: 2px dashed var(--color-1);
    border-radius: 5px;
    padding: 20px;
    transition: var(--speed);
    opacity: 0.75;
    cursor: pointer; }
    .upload__label:hover {
      opacity: 1; }
  .upload__icon {
    margin-bottom: 20px;
    fill: var(--color-1); }
  .upload__text {
    font-size: var(--size-1);
    font-weight: bold;
    font-family: var(--family-1);
    color: var(--color-2); }

.edit {
  border-radius: 5px;
  overflow: hidden; }

.main {
  display: flex;
  background-color: var(--main-color);
  transition: var(--speed); }
  .main.disabled {
    pointer-events: none;
    opacity: 0.8; }
  .main.animation .edit-sidebar-left,
  .main.animation .edit-sidebar-right {
    transform: none; }

.edit-header {
  position: relative;
  height: 75px;
  background-color: var(--background-2);
  box-shadow: 0px 2px 5px var(--background-6);
  display: flex; }
  .edit-header__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100%;
    padding-left: 20px;
    padding-right: 35px; }
  .edit-header__button-download {
    display: block;
    background-color: var(--background-4);
    padding: 8.5px 10px;
    border: none;
    border-radius: 5px;
    transition: var(--speed);
    cursor: pointer; }
    .edit-header__button-download.disabled {
      pointer-events: none;
      opacity: 0.8; }
    .edit-header__button-download:hover {
      background-color: var(--background-5); }
  .edit-header__button-download, .edit-header__title {
    font-size: var(--size-1);
    font-weight: bold;
    letter-spacing: 0.05rem;
    color: var(--background-1); }

.edit-header-file {
  transition: var(--speed); }
  .edit-header-file:hover {
    background-color: var(--background-3); }
    .edit-header-file:hover .edit-header-file__svg {
      fill: var(--background-4); }
  .edit-header-file__input {
    display: none; }
  .edit-header-file__label {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 75px;
    height: 100%;
    fill: var(--background-1);
    cursor: pointer; }
  .edit-header-file__svg {
    width: 50px;
    height: 50px; }
  .edit-header-file__icon {
    transition: var(--speed); }

.edit-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  width: 100%;
  min-width: 600px;
  padding: 30px; }

.edit-sidebar-left {
  position: relative;
  background-color: var(--background-2);
  min-width: 75px;
  height: 525px;
  overflow: scroll;
  box-shadow: 3px 0 5px var(--background-6);
  transform: translateX(-100%); }
  .edit-sidebar-left::-webkit-scrollbar {
    width: 0; }

.edit-sidebar-right {
  position: relative;
  background-color: var(--background-2);
  min-width: 75px;
  height: 525px;
  box-shadow: -3px 0 5px var(--background-6);
  overflow-y: scroll;
  transform: translateX(100%); }
  .edit-sidebar-right::-webkit-scrollbar {
    width: 0; }

.edit-sidebar-left,
.edit-sidebar-right {
  transition: var(--speed); }

.edit-sidebar-left__svg,
.edit-sidebar-right__svg {
  width: 45px;
  height: 45px;
  transition: var(--speed);
  pointer-events: none; }

.edit-sidebar-left__icon,
.edit-sidebar-right__icon {
  fill: var(--background-1);
  transition: var(--speed); }

.edit-sidebar-left__text {
  font-size: var(--size-2);
  color: var(--background-1);
  font-weight: 500;
  position: absolute;
  top: 120%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: var(--speed);
  pointer-events: none; }

.edit-sidebar-left__item,
.edit-sidebar-right__item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 75px;
  position: relative;
  transition: var(--speed);
  overflow: hidden;
  border: 0;
  background: none;
  cursor: pointer; }
  .edit-sidebar-left__item:hover,
  .edit-sidebar-right__item:hover {
    background-color: var(--background-3); }
  .edit-sidebar-left__item.active,
  .edit-sidebar-right__item.active {
    background-color: var(--background-3); }
    .edit-sidebar-left__item.active .bx,
    .edit-sidebar-left__item.active .fa,
    .edit-sidebar-right__item.active .bx,
    .edit-sidebar-right__item.active .fa {
      margin-bottom: 20px;
      color: var(--background-4); }
    .edit-sidebar-left__item.active .edit-sidebar-left__text,
    .edit-sidebar-right__item.active .edit-sidebar-left__text {
      top: 85%; }

.edit-wrapper-preview {
  width: 100%;
  height: 440px;
  border-radius: 5px;
  position: relative;
  overflow: hidden;
  transition: var(--speed); }

.edit-preview {
  width: 100%;
  height: 100%; }
  .edit-preview img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: var(--speed); }
  .edit-preview .temperature {
    position: absolute;
    inset: 0 0 0 0; }

.edit-wrapper-reset {
  position: absolute;
  bottom: -40px;
  right: 0px;
  transition: var(--speed); }
  .edit-wrapper-reset.active {
    bottom: 0; }

.edit-reset-button {
  position: absolute;
  bottom: -40px;
  right: 0;
  color: var(--background-1);
  font-size: var(--size-1);
  font-weight: bold;
  letter-spacing: 0.05rem;
  background-color: var(--background-4);
  padding: 8.5px 10px;
  border: none;
  border-radius: 5px;
  transition: var(--speed);
  cursor: pointer; }
  .edit-reset-button:hover {
    background-color: var(--background-5); }
  .edit-reset-button.active {
    bottom: 0; }

.edit-slider {
  position: absolute;
  bottom: 0;
  transform: translateY(100%);
  background-color: var(--background-2);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  padding: 10px 20px;
  width: 430px;
  transition: var(--speed); }
  .edit-slider__input {
    width: 100%;
    -webkit-appearance: none;
    background-color: transparent;
    cursor: pointer; }
    .edit-slider__input::-webkit-slider-thumb {
      -webkit-appearance: none;
      width: 16px;
      height: 16px;
      margin-top: -4px;
      background-color: var(--background-1);
      border-radius: 50%; }
    .edit-slider__input::-webkit-slider-runnable-track {
      height: 8px;
      background-color: var(--background-4);
      border-radius: 5px; }
  .edit-slider.active {
    transform: translateY(0); }

.edit-slider-container {
  display: flex;
  justify-content: space-between;
  align-items: center; }
  .edit-slider-container__name, .edit-slider-container__value {
    font-weight: 500;
    font-size: var(--root-size);
    color: var(--background-1); }

.plug {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Noto Sans';
  font-weight: 700;
  letter-spacing: 3px;
  font-size: var(--size-3);
  width: 100%;
  height: 100%;
  background-color: var(--background-7);
  color: var(--color-3); }

.temperature {
  transition: var(--speed); }

.bx,
.fa {
  font-size: 35px;
  transition: var(--speed);
  pointer-events: none;
  color: var(--color-3); }


/*# sourceMappingURL=main.css.map*/