:root {
  --root-size: 18px;
  --size-1: 20px;
  --size-2: 12px;
  --size-3: 28px;
  --body-color: #0B0510;
  --main-color: #1F2B32;
  --color-1: #6990f2;
  --color-2: #323548;
  --color-3: #dcdbdb63;
  --background-1: #f2f2f2;
  --background-2: #2B343F;
  --background-3: #404954;
  --background-4: #f16e1e;
  --background-5: #c54f06;
  --background-6: #00000026;
  --background-7: #0000001a;
  --family-1: 'Poppins', cursive;
  --speed: 0.4s;
}